.navbar {
  margin-bottom: 0;
  height: 8vh;
}

.navbar-brand{
  height: 8vh;
  padding: 8px 15px;
}
.navbar-nav{
  /*height: 8vh;*/
  padding: 8px 15px;
  background-color: white;
}
.navbar-brand{
  margin-left: 5%;
}

.navbar-nav{
  margin-left: auto;
}

.navbar-toggle{
  border-color: lightgrey;
  padding: 20px 20px;
}

.navbar{
  background-color: white;
}

.navbar-custom{
  background-color: white;
}

.icon-bar{
  color: red;
  background-color: lightgrey;
}

.nav li a{
  color: #7c7c7c;
  font-size: 15px;
  padding-top: 18px;
}

.nav-buttonStyle{
  margin-left: 8vh;
  margin-top: 0;
}

.arXiv a {
  display: inline-block;
  padding: 7px;
  margin: 0 10px;
  position: relative;
  text-decoration: none; 
}

.arXiv a:hover {
    outline: 2px solid #007bff; 
    outline-offset: -2px;
    border-radius: 5px;
}
/*.arXiv a img{
  display: inline;
}
*/

iframe {
  display: block;
  border-style:none;
  margin: 0 auto;
  width: 60%;
}

footer {
  margin-top: 10rem;
  background-color: #f2f2f2;
  padding: 25px;
}

p{
  padding-top: 1%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#title{
  padding-left: 15%;
  padding-right: 15%;
}

#title h1{
  line-height: 2;
}

.description h4{
  line-height: 1.8;
  text-align: justify;
}

.question{
  padding-top: 3%;
  padding-bottom: 3%;
}
   
hr{
  border: 0;
  height: 1.5px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 30%;
}


.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
}

.rowImage{
  padding: 0 3px;
}

.subsection{
  margin-top: 8rem;
}

.sideDescription{
  margin: auto;
}

.wallImg{
  width: 50%;
  padding-left: 5vw;
}

.explaination{
  padding: 0 10vw;
  line-height: 1.8;
  color: #6D6D6D;
}

.subsubsection{
  margin-top: 5rem;
}

.subsubsection h4{
  font-size: 20px;
}

.subsubsection hr{
  border: 0;
  height: 0.5px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 20%;
}

@media (max-width: 991.98px) and (min-width: 890.001px) {
  .carousel-caption {
    display: none; 
  }
  h1{
    font-size: 140%;
  }
  h2{
    font-size: 130%;
  }
  h3{
    font-size: 120%;
  }
  h4{
    font-size: 110%;
  }
  h5{
    font-size: 100%;
  }
  p{
    padding-left: 2%;
    padding-right: 2%;
  }

  .navbar-brand{
    width: 20vw;
    height: auto;
    padding: 8px 20px;
  }

  .navbar-nav{
    height: auto;
    background-color: white;
    margin: 0;
  }

  .nav li{
    color: #6D6D6D;
    background-color: white;
  }

  #title{
    padding-left: 5%;
    padding-right: 5%;
  }
}


@media (max-width: 890px) {
  h1{
    font-size: 140%;
  }
  h2{
    font-size: 130%;
  }
  h3{
    font-size: 120%;
  }
  h4{
    font-size: 110%;
  }
  h5{
    font-size: 100%;
  }
  p{
    padding-left: 2%;
    padding-right: 2%;
  }
  .nav li{
    color: #6D6D6D;
    background-color: white;
    margin: auto;
  }
  iframe{
    margin: -8rem auto;
  }
}

@media (min-width: 991.99px) {
  .navbar-nav{
    height: auto;
    background-color: white;

  }
  .navAlign{
    display: block;
    float: right;
  }

  .wallImg{
    width: 60%;
    padding-left: 0;
  }


}